.downloadInfo {
  margin-top: -24px;
  font-size: 13px;
}

.downloadInfo p {
  margin: 0px;
}

/* -- admonitions ----------------------------------------------------------- */

div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

div.admonition dt {
    font-weight: bold;
}

div.admonition dl {
    margin-bottom: 0;
}

p.admonition-title {
    margin: 0px 10px 5px 0px;
    font-weight: bold;
}

div.body p.centered {
    text-align: center;
    margin-top: 25px;
}

.body div.admonition {
  padding: 2px 12px 12px 12px;
}

.body div.admonition h5 {
  font-weight: 800;
  text-transform: uppercase;
}

/* -- admonitions ----------------------------------------------------------- */

.maven pre code {
    padding: 0em;
}

#version-tag {
    display: block;
    font-size: larger;
}