*.iml
*.iws
*.ipr
.classpath
.project
.settings
*.sw*
.idea
release.sh
**/target/**
**/build/**
entityscanner-plug/dependency-reduced-pom.xml
codereview.rc
target
bin
.gradle
out/
docs/landing/public
docs/reference/public
