<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="dev.morphia" level="info">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="Mongod" level="error">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.mongodb.driver" level="error">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.zeroturnaround" level="error">
            <AppenderRef ref="Console"/>
        </logger>
    </Loggers>
</Configuration>
