# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Audits

on:
  workflow_dispatch:
    branches:
      - 'master'
#  schedule:
#      - cron: '0 0 * * *'

jobs:
  Audits:
    uses: evanchooly/workflows/.github/workflows/build.yml@master
    with:
      maven-flags: "-Daudits"
      java: 17
    secrets:
      GH_TOKEN: ${{ secrets.GH_OAUTH }}
