# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Morphia Build

on: [ push, pull_request, workflow_dispatch ]

jobs:
  Morphia:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
        mongo: [ 5.0.6, 4.2.18 ]
        driver: [ 4.2.2, 4.0.6 ]
    name: "Tests on JDK ${{ matrix.java }}, MDB: ${{ matrix.mongo }}, Driver: ${{ matrix.driver }})"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Compile Code
        run: mvn install -DskipTests
      - name: Run Tests
        env:
          MONGODB: ${{ matrix.mongo }}
        run: mvn surefire:test -Ddriver.version=${{ matrix.driver }}
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: mongo-logs-${{matrix.java}}-${{matrix.mongo}}-${{matrix.driver}}
          path: |
            core/target/**/*.log
            core/target/**/*.err
          retention-days: 5
  Quality:
    name: Style Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'temurin'
          cache: 'maven'

      - name: Quality Checks
        run: |
          mvn install -DskipTests
          mvn -f core/pom.xml -Pquality -DskipTests

  Snapshots:
    name: Publish Snapshot Artifacts
    if: "github.repository == 'MorphiaOrg/morphia' && github.ref == 'refs/heads/2.2.x' && github.event_name == 'push'"
    needs:
      - Morphia
      - Quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Configure the job
        run: |
          mkdir -p ~/.m2
          curl -o github.properties https://ghactions:${{ secrets.GH_PASSWD }}@evanchooly.com/private/files/github.properties
      - name: Publish
        run: |
          export GPG_TTY=$(tty)
          mvn --no-transfer-progress -B --file pom.xml -Dgpg.passphrase=${{ secrets.MAVEN_GPG_PASSPHRASE }} \
            -Drepository.url=https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git \
            -Dmaven.site.skip=true -Drelease=true -DskipTests deploy
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.SONATYPE_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
  Docs:
    name: Update Documentation
    needs:
      - Snapshots
    runs-on: ubuntu-latest
    steps:
      - name: Invoke antora build
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Docs
          repo: MorphiaOrg/morphia-docs
          token: ${{ secrets.PUSH_TOKEN }}
          ref: refs/heads/master
