name: Build Project

on:
  push:
    branches-ignore:
      - 'dependabot/**'
    tags:
      - '*'
  workflow_dispatch:

jobs:
  CodeAudits:
    uses: evanchooly/workflows/.github/workflows/code-audits.yml@master
    with:
      java: 17

  Build:
    uses: evanchooly/workflows/.github/workflows/build.yml@master
    with:
      java: 17
      saveBuild: true

  Matrix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          server-id: central
          cache: maven

      - name: Find MongoDB versions
        id: mongo-versions
        run: |
          curl -Ls https://sh.jbang.dev | bash -s - app setup
          echo "mongo_versions=$( ~/.jbang/bin/jbang --verbose .github/BuildMatrix.java )" >> $GITHUB_OUTPUT

    outputs:
      version_matrix: ${{ steps.mongo-versions.outputs.mongo_versions }}

  Test:
    needs:
      - CodeAudits
      - Build
      - Matrix
    strategy:
      matrix:
        java: [ 20, 17 ]
        mongo: ${{ fromJson(needs.matrix.outputs.version_matrix) }}
        driver: [ 4.10.2 ]
        include:
          - java: 17
            mongo: 7
            driver: 4.9.1
          - java: 17
            mongo: 7
            driver: 4.8.2
          - java: 17
            mongo: 7
            driver: 4.7.2
          - java: 17
            mongo: 7
            driver: 4.6.1
          - java: 17
            mongo: 7
            driver: 4.5.1
          - java: 17
            mongo: 7
            driver: 4.4.2
            optional: true
          - java: 17
            mongo: 7
            driver: 4.3.4
            optional: true

    uses: evanchooly/workflows/.github/workflows/build.yml@master
    with:
      java: ${{ matrix.java }}
      reuseBuild: true
      archive-name: "${{matrix.mongo}}-${{matrix.driver}}-${{matrix.java}}-${{github.run_id}}"
      maven-flags: "-e -Dmongodb=${{ matrix.mongo }} -Ddriver.version=${{ matrix.driver }}"

  Release:
    if: github.ref_type == 'branch' || github.ref_type == 'tag'
    needs:
      - Test
    uses: evanchooly/workflows/.github/workflows/jreleaser.yml@master
    with:
      java: 17
    secrets:
      GH_PUSH_TOKEN       : ${{ secrets.GH_PUSH_TOKEN }}
      GPG_PASSPHRASE      : ${{ secrets.GPG_PASSPHRASE }}
      GPG_PUBLIC_KEY      : ${{ secrets.GPG_PUBLIC_KEY }}
      GPG_PRIVATE_KEY     : ${{ secrets.GPG_PRIVATE_KEY }}
      SONATYPE_USERNAME   : ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD   : ${{ secrets.SONATYPE_PASSWORD }}

  Docs:
    name: Update Documentation
    runs-on: ubuntu-latest
    needs:
      - Release
    steps:
      - name: Invoke antora build
        uses: benc-uk/workflow-dispatch@v121
        with:
          workflow: Docs
          repo: MorphiaOrg/morphia-docs
          token: ${{ secrets.GH_PUSH_TOKEN }}
          ref: refs/heads/master