name: Build Project

on:
  push:
  workflow_dispatch:

jobs:
  Build:
    uses: evanchooly/workflows/.github/workflows/build.yml@master
    with:
      saveBuild: morphia-build
      maven-flags: "-Dmongodb=6.0.2"
  Test:
    needs:
      - Build
    strategy:
      matrix:
        java: [ 11, 19 ]
        mongo: [ 6.0.2, 5.0.13, 4.4.17, 4.2.23 ]
        driver: [ 4.6.1, 4.7.1 ]
    uses: evanchooly/workflows/.github/workflows/build.yml@master
    with:
      java: ${{ matrix.java }}
      reuseBuild: morphia-build
      archive-name: "${{matrix.mongo}}-${{matrix.java}}"
      maven-flags: "-Dmongodb=${{ matrix.mongo }} -Ddriver.version=${{ matrix.driver }}"

  Quality:
    name: Style Checks
    uses: evanchooly/workflows/.github/workflows/build.yml@master
    with:
      maven-flags: "-Pquality -DskipTests"

  Snapshots:
    if: github.ref_type == 'branch'
    needs:
      - Test
      - Quality
    uses: evanchooly/workflows/.github/workflows/release.yml@master
    secrets:
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Docs:
    name: Update Documentation
    runs-on: ubuntu-latest
    needs:
      - Snapshots
    steps:
      - name: Invoke antora build
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Docs
          repo: MorphiaOrg/morphia-docs
          token: ${{ secrets.PUSH_TOKEN }}
          ref: refs/heads/master

  Critter:
    name: Build Critter snapshot
    needs:
      - Snapshots
    runs-on: ubuntu-latest
    steps:
      - name: Invoke critter build
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: "Tests"
          repo: MorphiaOrg/critter
          token: ${{ secrets.PUSH_TOKEN }}
          ref: refs/heads/master
